---
import i1 from "./slides/1.JPG";
import i2 from "./slides/2.JPG";
import i3 from "./slides/3.JPG";
import i4 from "./slides/4.JPG";
import i5 from "./slides/5.JPG";
import i6 from "./slides/6.JPG";
import i7 from "./slides/7.JPG";
import i8 from "./slides/8.JPG";
import i9 from "./slides/9.JPG";
import i10 from "./slides/10.JPG";
import i11 from "./slides/11.JPG";
import i12 from "./slides/12.JPG";
import i13 from "./slides/13.JPG";
import i14 from "./slides/14.JPG";
import i15 from "./slides/15.JPG";
import i16 from "./slides/16.JPG";



import { Picture } from "astro:assets";
---

<section class="py-12 bg-black  " id="gallery">
    <!-- container -->

    <div class=" mx-auto px-4 space-y-6">

        <!-- grid -->

        <div class="grid md:grid-cols-2 grid-cols-1 gap-4">
            <!-- slider content -->

            <div class="space-y-3">
                <h2 class="text-5xl text-orange-500">Галерея</h2>

                <p class="text-xl text-white">
                    Просмотрите нашу галерею, чтобы увидеть разнообразие доступных строительных инструментов и оборудования. Здесь вы найдете изображения как стандартных, так и специализированных инструментов.
                </p>
            </div>

            <!-- slider wrapper -->

            <div>
                <!-- slider (swiper js) -->

                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <Picture
                                src={i1}
                                formats={["avif", "webp"]}
                                class="  object-cover"
                                alt="Фотография СтройИнстурмент"
                            />
                        </div>
                        <div class="swiper-slide ">
                            <Picture
                                src={i2}
                                formats={["avif", "webp"]}
                                class="  object-cover"
                                alt="Фотография СтройИнстурмент"
                            />
                        </div>
                        <div class="swiper-slide ">
                            <Picture
                                src={i3}
                                formats={["avif", "webp"]}
                                class="  object-cover"
                                alt="Фотография СтройИнстурмент"
                            />
                        </div>
                        <div class="swiper-slide ">
                            <Picture
                                src={i4}
                                formats={["avif", "webp"]}
                                class="  object-cover"
                                alt="Фотография СтройИнстурмент"
                            />
                        </div>
                        <div class="swiper-slide ">
                            <Picture
                                src={i5}
                                formats={["avif", "webp"]}
                                class="  object-cover"
                                alt="Фотография СтройИнстурмент"
                            />
                        </div>
                        <div class="swiper-slide ">
                            <Picture
                                src={i6}
                                formats={["avif", "webp"]}
                                class="  object-cover"
                                alt="Фотография СтройИнстурмент"
                            />
                        </div>
                        <div class="swiper-slide ">
                            <Picture
                                src={i7}
                                formats={["avif", "webp"]}
                                class="  object-cover"
                                alt="Фотография СтройИнстурмент"
                            />
                        </div>
                        <div class="swiper-slide ">
                            <Picture
                                src={i8}
                                formats={["avif", "webp"]}
                                class="  object-cover"
                                alt="Фотография СтройИнстурмент"
                            />
                        </div>
                        <div class="swiper-slide ">
                            <Picture
                                src={i9}
                                formats={["avif", "webp"]}
                                class="  object-cover"
                                alt="Фотография СтройИнстурмент"
                            />
                        </div>
                        <div class="swiper-slide ">
                            <Picture
                                src={i10}
                                formats={["avif", "webp"]}
                                class="  object-cover"
                                alt="Фотография СтройИнстурмент"
                            />
                        </div>
                        <div class="swiper-slide ">
                            <Picture
                                src={i11}
                                formats={["avif", "webp"]}
                                class="  object-cover"
                                alt="Фотография СтройИнстурмент"
                            />
                        </div>
                        <div class="swiper-slide ">
                            <Picture
                                src={i12}
                                formats={["avif", "webp"]}
                                class="  object-cover"
                                alt="Фотография СтройИнстурмент"
                            />
                        </div>
                        <div class="swiper-slide ">
                            <Picture
                                src={i13}
                                formats={["avif", "webp"]}
                                class="  object-cover"
                                alt="Фотография СтройИнстурмент"
                            />
                        </div>
                        <div class="swiper-slide ">
                            <Picture
                                src={i14}
                                formats={["avif", "webp"]}
                                class="  object-cover"
                                alt="Фотография СтройИнстурмент"
                            />
                        </div>
                        <div class="swiper-slide ">
                            <Picture
                                src={i15}
                                formats={["avif", "webp"]}
                                class="  object-cover"
                                alt="Фотография СтройИнстурмент"
                            />
                        </div>
                        <div class="swiper-slide ">
                            <Picture
                                src={i16}
                                formats={["avif", "webp"]}
                                class="  object-cover"
                                alt="Фотография СтройИнстурмент"
                            />
                        </div>

                    </div>
                    <div class="swiper-button-next !text-white"></div>
                    <div class="swiper-button-prev !text-white"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    import Swiper from "swiper";

    import { Navigation, Pagination } from "swiper/modules";

    import "swiper/css";
    import "swiper/css/navigation";
    import "swiper/css/pagination";

    new Swiper(".mySwiper", {
        modules: [Navigation, Pagination],
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>

<style>
    .swiper {
        width: 100%;
        height: 100%;
    }
</style>
